
{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html>
    <body>
        <head>

           <input type="button" id='script' name="scriptbutton" value=" Run Script " action="/myscript">

        </head>
    </body>
	
</html>


<style>


 


</style>

 

               <div class="container-fluid">

                              <div class="row" style="margin-top: 20px;">

                                             <div class="col-md-3"></div>

                                             <div class="col-md-9">

                                             <h1> Invoice Line Item Template Dashboard </h1>

                              </div>

               </div>

<br>



<br>


 

{% endblock content %}